node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.config/
coverage/
dist/
build/
.DS_Store
*.log
.nyc_output
tmp/
temp/
.vscode/
.idea/
*.swp
*.swo
.history
.npm
.cache/
.editorconfig
.eslintcache